<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
        <form action="./userInfo.ejs" method="GET">
            <h1>Login Page</h1>
            <h1 style="background-color: aqua;"><%=msg%></h1>
            <div class="container">
<table>
   
    <tr>
        <th>Enter Your Mail :</th>
        <td><input type="email" name="email" required></td>
    </tr>
    <tr>
        <th>Enter Your Password :</th>
        <td><input type="password" name="pass" required></td>
    </tr>
</table>
            </div>
            <button type="submit" >Submit</button> <br>
           No Account ? <a href="signUp.html">Sign Up</a>
        </form>
    </center>
</body>
</html>