<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <!-- <h1>Update Form</h1> -->
        <%=userInfo.length%>
        <%if(userInfo.length>0)
            {
             userInfo.forEach(function(info){%>
                <form action="/update" method="GET">
                    <h1>Kindly update your Details!</h1>
        <table>
           
            <tr>
               <th>Email Id</th> 
               <td><input name="email" value="<%=info.pEmail%>" readonly></td>
            </tr>
            <tr>
                <th>Name</th> 
                <td><input name="name" value="<%=info.pName%>"></td>
             </tr>
             <tr>
                <th>Gender</th> 
                <td>
                    <input type="radio" name="gender" value="male" <% if(info.pGender=='male') {%> checked <%}%> >Male
                    <input type="radio" name="gender" value="female" <% if(info.pGender=='female'){ %> checked <%}%> >Female
                    <input type="radio" name="gender" value="other"  <% if(info.pGender=='other'){%>  checked<%}%>>Other
                </td>
             </tr>
             <tr>
                <th>Hobbies</th> 
                <td><input name="hobbies" value="<%=info.pHobbies%>"></td>
             </tr>
             
        </table>
        <br>
        <button type="submit" >Update</button>
        <a href="index.html">LogOut</a>
                </form>
        <%})}else{%>
            
            <center>
                <form action="/find" method="GET">
                    <h1 style="font-style: italic;">OOOOPS!!!!     your mail or password in-correct</h1>
                    <h3>Re-Enter your Email and password</h3>
                    <div class="container">
        <table>
           
            <tr>
                <td>Enter Your Mail :</td>
                <td><input type="email" name="email" required class="hii"></td><br>
            </tr>
            <tr>
                <td>Enter Your Password :</td>
                <td><input type="password" name="pass" required  class="hii"></td><br>
            </tr>
        </table>
                    </div><br><br>
                    <button type="submit" style=" background-color: blue;;font-family: cursive; margin-top: 5px; margin-bottom: 10px; color: white; border-radius: 2px;width: 100px;border-color: transparent;" class="btn">Submit</button> <br> <br><br>
                   No Account ? <a href="signUp.html">Sign Up</a>
                </form>
            </center>



            <%}%>
    </center>
</body>
</html>