<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <h1>Update Form</h1>
        <%=userInfo.length%>
        <%if(userInfo.length>0)
            {
             userInfo.forEach(function(info){%>
                <form action="/update" method="GET">
        <table>
           
            <tr>
               <th>Email Id</th> 
               <td><input name="email" value="<%=info.personEmail%>" readonly></td>
            </tr>
            <tr>
                <th>Name</th> 
                <td><input name="name" value="<%=info.personName%>"></td>
             </tr>
             <tr>
                <th>Gender</th> 
                <td>
                    <input type="radio" name="gender" value="male" <% if(info.personGender=='male') {%> checked <%}%> >Male
                    <input type="radio" name="gender" value="female" <% if(info.personGender=='female'){ %> checked <%}%> >Female
                    <input type="radio" name="gender" value="other"  <% if(info.personGender=='other'){%>  checked<%}%>>Other
                </td>
             </tr>
             <tr>
                <th>Hobbies</th> 
                <td><input name="hobbies" value="<%=info.personHobbies%>"></td>
             </tr>
             
        </table>
        <br>
        <button type="submit" >Update</button>
        <a href="index.html">LogOut</a>
                </form>
        <%})}else{%>
            <h1>No Data Found</h1>
            <%}%>
    </center>
</body>
</html>